<div class="employee-detail-form">
  <p>{{detailHeader}}</p>
  <hr>
  <input type="text" ng-model="id" hidden>
  <div class="form-field">
    <label for="">Product Name :</label>
    <input type="text" ng-model="name" placeholder="Enter product name">
  </div>

  <div class="form-field">
    <label for="">Description :</label>
    <input type="text" ng-model="description" placeholder="Enter description">
  </div>

  <div class="form-field">
    <label for="">Product Code :</label>
    <input type="text" ng-model="code" placeholder="Enter product code">
  </div>

  <div class="form-field">
    <label for="">Quantity :</label>
    <input type="text" ng-model="quantity">
  </div>
  
  <div class="form-field">
    <label for="">Unit Price :</label>
    <input type="text" ng-model="unitPrice">
  </div>

  <div class="form-field">
    <label for="">Category :</label>
    <select ng-model="selectedCategory" ng-options="obj.name for obj in allCategories track by obj.id"></select>
  </div>

  <div class="form-field">
    <label for="">Brand :</label>
    <select ng-model="selectedBrand" ng-options="obj.name for obj in allBrands track by obj.id"></select>
  </div>

  <div class="form-group">
    <input type="submit" class="btn submit-btn" value="{{submitButtonValue}}" ng-click="saveProduct()">
    <input type="button" class="btn" value="Delete" ng-click="deleteProduct()">
  </div>
</div>

